<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
    
    <context:annotation-config></context:annotation-config>
    <context:component-scan base-package="com.soumyasourabha.DemoSpringProject1"></context:component-scan>
    
    <bean id="laptop" class="com.soumyasourabha.DemoSpringProject1.laptop"></bean>
    
    <bean id="desktop" class="com.soumyasourabha.DemoSpringProject1.desktop"></bean>
    
    <bean id="coder" class="com.soumyasourabha.DemoSpringProject1.coder">
    	<property name="name" value="soumya"></property>
    	<property name="system" ref="desktop"></property>
    </bean>
   	
   	<bean id="trainer" class="com.soumyasourabha.DemoSpringProject1.trainer">
  		<constructor-arg name="name" value="navin"></constructor-arg>
  		<constructor-arg name="system" ref="laptop"></constructor-arg>
   	</bean>
</beans>